.admin {
  height: 100%;
  display: grid;
  grid-template-rows: 15% 75% 10%;
  grid-template-columns: repeat(12, 1fr);
  margin: 0;
  padding: 0;
  background-color: #fafafac0;

  nav,
  main,
  footer {
    grid-column: 12 span;
    padding: 0;
    margin: 0;
  }

}
