.menu {
  margin: 0;
  padding: 0;

  .on-scroll {
    background-color: #fff;
  }
 
  a {
    color: white;
  }

  .btn-login {
    position: relative;
    left: 5%;
  }

  .text-buttons {
    text-transform: none;
  }

  h5 {
    padding: 0;
    margin: 0;
  }
}
