.my-form {
  height: 95%;
  width: 95%;
  position: relative;
  left: 2%;
  top: 4%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;

  form {
    margin: 0;
    margin-left: 3%;
    padding: 0;
    padding-top: 2%;
  }

  .pos {
    margin-left: 3%;
  }
}
