@import "../../../style/variables";

.login {
  @include default();

  .fade-up {
    animation: fade-up 2s;
  }

  .login-text {
    @include auth-form(80%, #000000, 0.4);
    color: white;
    position: relative;

    h2,
    h3 {
      font-weight: bold;
    }
  }

  .login-form {
    text-align: center;

    .row-header {
      padding: 5%;
    }

    .icon-start {
      position: relative;
      bottom: 20%;
    }

    .text-buttons {
      text-transform: none;
    }

    a {
      color: inherit;
    }

    button.auth {
      width: 30vh;
    }
  }
}

@media screen and (min-width: 992px) {
  .auth-form {
    @include auth-form(75%, #ffffff, 0.9);
    height: 80vh;
  }
  
  .text-center {
    height: 8vh;
    padding: 5%;
  }
}

@media screen and (max-width: 820px) {
  .auth-form {
    @include auth-form(95%, #ffffff, 0.9);
    height: 70vh;
  }
  .text-center {
    height: 8vh;
    padding: 5%;
  }
}
