.vacations {
  height: 100%;
  padding: 0;
  margin: 0;

  .row {
    margin: 0;
    margin-bottom: 1%;
    justify-content: space-around;
  }
  
  .follow-slider {
    // left: 2%;
    width: 90%;
  }
 
  .col-sm-3 {
    margin: 0;
    padding: 0;
  }
}
