.vacations {
  height: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: repeat(12, 1fr);
  background-image: url("/assets/img/backgrounds/user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  nav,
  main {
    grid-column: 12 span;
    padding: 0;
    margin: 0;
  }

  .row {
    justify-content: space-around;
    margin: 0;
  }

  .row-followed {
    padding: 0;
  }

  .row-unFollowed {
    margin-left: 5%;
  }

  .col-sm-4 {
    margin: 0;
    margin-bottom: 1%;
    padding: 0;
  }
  .col-sm-3 {
    margin: 0;
    margin-bottom: 1%;
  }
}
