.vacations {
  height: 95%;
  padding: 0;
  margin: 1%;
  overflow: auto;

  .row {
    margin: 0;
    margin-bottom: 1%;
    justify-content: space-around;

    .card-title {
      text-align: center;
    }
  }

  .slick-slider {
    width: 95%;
    margin: auto;
  }

  .col-sm-3 {
    margin: 0;
    padding: 0;
  }

  .col.followed {
    padding: 0;

    .root {
      width: 90%;
      margin: 0;

      .MuiTypography-root {
        .card-header {
          font-size: 20px;
        }
        margin: 0;
        padding: 0;
      }
    }
  }
}
