.my-input {
  margin: 2%;
  box-sizing: border-box;

  .MuiGrid-spacing-2 {
    padding: 8%;
  }

  // .valid {
  //   border-color: #28a745;
  // }
  // .valid:focus {
  //   border-color: #28a745;
  //   box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  // }

  // .invalid {
  //   border-color: #dc3545;
  // }
  // .invalid:focus {
  //   border-color: #dc3545;
  //   box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  // }
}
