@import "../../../style/variables";

.insert {
  @include default();
  background-color: #fafafa7e;
}

@media screen and (max-width: 800px) {
  .insert > .insert-form {
    margin: auto;
    position: relative;
    height: 90%;
  }
}
