
@import "../../../style/variables";

.my-form {
  height: 90%;
  @include mp-zero();
  margin-top: 3%;
  background-color: #fafafa;
  
  form {
    @include default();
    margin-left: 3%;
  }

  .MuiGrid-spacing-2 {
    padding: 8%;
  }

  .pos {
    padding: 2.5%;
    padding-bottom: 1%;
  }

  .input-file {
    display: none;
  }

  .upload-button {
    text-transform: none;
  }
}
