.user-page {
  height: 100%;
  overflow: auto;
  display: grid; 
  grid-template-rows: 15% 85%;
  grid-template-columns: repeat(12, 1fr);
  padding: 0;
  margin: 0;
  background-image: url("/assets/img/backgrounds/home2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  nav,
  main {
    grid-column: 12 span;
  }

}