@import "../../../style/variables";

.vac-card {
  .root {
    max-width: 550px;
    transition: 0.5s ease;

    cursor: pointer;
    margin: 30px;

    .media {
      position: relative;
      height: 0;
      padding-top: 56.25%;
    }

    .media:hover {
      opacity: 0.6;
    }

    // expend icon css
    .expand {
      margin-left: auto;
      animation: spin-down 0.5s;
    }

    .expandOpen {
      transform: rotate(180deg);
      animation: spin-up 0.5s;
    }

    // admin edit link css

    a {
      color: inherit;
    }

    // follow heart icon css
    .showIcon-semi {
      opacity: 0.6;
    }

    .rose-fix {
      @include like-icon();
    }

    .icon:hover {
      @include like-icon();
    }
  }

  // css to FormatDate comp
  .MuiButtonBase-root:hover {
    background-color: transparent;
  }

  // css to collapse content
  .MuiCollapse-wrapperInner {
    height: 150px;
    overflow: auto;
  }
  .center {
    text-align: center;
  }
}
