.format-date {
  .follow-container {
    width: 100%;
    padding: 0;
  }

    .follow-header {
      width: 50%;
    }

    .follow-date {
      margin-bottom: 5%;
      margin-left: 6%;
    }

    .follow-date-return {
      margin-left: 15%;
    }
}
