.login {
  height: 100%;
  display: grid;
  grid-template-rows: 10%, 90;
  grid-template-columns: repeat(12, 1fr);
  padding: 0;
  margin: 0;

  aside {
    grid-column: 4 span;

    .my-form {
      height: 90%;
      left: 15%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: white;
    }
  }

  .row-header {
    padding-top: 10%;
    margin-bottom: 5%;
  }
  
  .btn {
    margin-top: 5%;
  }

}