.login {
  height: 100%;
  display: grid;
  grid-template-rows: 15% 75%;
  grid-template-columns: repeat(12, 1fr);
  padding: 0;
  margin: 0;

  nav {
    grid-column: 12 span;

  }

  aside {
    grid-column: 4 span;

    .my-form {
      left: 15%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: white;
    }
  }

  .row-header {
    // padding-top: 10%;
    margin-bottom: 5%;
  }
  
  .btn {
    // margin-top: 5%;
  }

}