.register {
  height: 100%;
  padding: 0;
  margin: 0;

  .register-form {
    position: relative;
    height: 90%;
    width: 30%;
    margin: auto;
    background-color: #fafafa;
    border-radius: 25px;
    padding: 3%0;
  }

  .register-button {
    text-transform: none;
  }


}
