.register {
  position: relative;
  overflow: auto;
  border-radius: 25px;
  background-color: #fafafa;
}

.personal-details,
.password-username {
  height: 80%;
  width: 35%;
  top: 10%;
}

.success {
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  .h1,
  h2,
  h3 {
    padding: 3%;
  }
}
